/* App.css */
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
h1{
  color: white;
}
.planet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  max-width: 300px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}
